<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Credit Application</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body data-new-gr-c-s-check-loaded="14.1029.0" data-gr-ext-installed="">
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Loan Application</a>
  <!--<ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
      </li>
  </ul>-->
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <b>
              <a class="nav-link active" href="/application-inquiry" style="color: black">
                Application Inquiry
              </a>
            </b>
          </li>
        <li class="nav-item">
          <b>
            <a class="nav-link" href="/new-application" style="color: black">
              New Application
            </a>
          </b>
        </li>
        <li class="nav-item">
          <b>
            <a class="nav-link" href="/consumers" style="color: black">
              Consumers
            </a>
          </b>
        </li>
          <li class="nav-item">
            <b>
              <a class="nav-link" href="/new-consumer" style="color: black">
                New Consumer
              </a>
            </b>
          </li>
      </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
      <!--Form Start-->
      <div class="container" style="width: 700px; margin-right: 600px">
        <h2 style="text-align: center">Application Form</h2>
        <form method="post" th:action="@{/applications}" th:object="${loanApplicationRequest}">
          <div class="d-flex flex-row">
            <div class="mb-3 flex-fill">
              <label for="forename" class="form-label">Forename</label>
              <input id="forename" type="text" class="form-control" required pattern="[\p{L}]{2,30}$"  th:field="*{forename}" oninvalid="this.setCustomValidity('Forename should be minimum 2 and maximum 30 chars long and should contain chars only.')">
            </div>
            <div class="mb-3 flex-fill">
              <label for="surname" class="form-label">Surname</label>
              <input type="text" class="form-control" id="surname" required pattern="[\p{L}]{2,30}$"  th:field="*{surname}" oninvalid="this.setCustomValidity('Surname should be minimum 2 and maximum 30 chars long and should contain chars only.')">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="nationalID">National ID</label>
            <input type="text" class="form-control" id="nationalID" required pattern="\d{11,11}" th:field="*{identificationNumber}" oninvalid="this.setCustomValidity('Should be min and max 11 chars long and only digits accepted.')">
          </div>
          <div class="mb-3">
            <label class="form-label" for="phoneNumber">Phone</label>
            <input type="text" class="form-control" id="phoneNumber" required pattern="^[0-9]{10,11}$" th:field="*{phone}" oninvalid="this.setCustomValidity('Min 10 and max 11 chars long, doesnt support country codes.')">
          </div>
          <div class="mb-3">
            <label class="form-label" for="monthlyIncome">Monthly Income</label>
            <input type="number" class="form-control" id="monthlyIncome" required th:field="*{monthlyIncome}">
          </div>
          <button type="submit" class="btn btn-dark">Submit</button>
          <button type="reset" class="btn btn-dark">Clear</button>
        </form>
      </div>
      <!--Form End-->
    </main>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
</body>

</html>
